{{#is "post"}}
{{#if access}}
{{#if comments}}
<div class="comments-wrap">
  <div class="comments-content">
    <div class="comments-header">
      <span class="global-subtitle-title">
        <h3>{{t "Member discussion"}}</h3>
        {{comment_count empty=(t "0 comments") singular=(t "comment") plural=(t "comments") autowrap="span"}}
      </span>
    </div>
    {{comments title="" count=false mode="auto"}}
  </div>
</div>
{{/if}}
{{/if}}
{{/is}}