{{!-- {{

{{#is "post"}}
{{#if access}}
<script type="text/javascript" src="https://matrix.criptonautas.co/cactus-comments/cactus.js"></script>
<link rel="stylesheet" href="https://matrix.criptonautas.co/cactus-comments/style.css" type="text/css">
<div id="comment-section"></div>
<script>
initComments({
  node: document.getElementById("comment-section"),
  defaultHomeserverUrl: "https://matrix.criptonautas.co:8448",
  serverName: "criptonautas.co",
  siteName: "Criptonautas",
  commentSectionId: "1"
})
</script>
{{/if}}
{{/is}}

}} --}}
