{{!< default}}
{{#page}}

<div class="it-page it-pricing">
	<div class="it-container">
		<div class="it-checkout-form it-canvas">
      <h1 class="it-checkout-title it-title-highlight">{{title}}</h1>
      <p>{{custom_excerpt}}</p>
      <div class="it-checkout-box it-grid-c3">
        {{> "members/tiers"}}
      </div>

      <div class="it-content">
        {{content}}

      </div>

<div class="faq-section global-padding">
	<div class="faq-wrap">
		<h2 class="faq-title">{{t "FAQs"}}</h2>
		<div class="faq-content">
			                    <div class="faq-item">
                        <h4>Podré cancelar mi plan?</h4>
                        <p>Sí, claro! Con un click, sin contratos ni reglas sin sentido 🙂<br><br>Las subscripciones son mensuales o anuales.</p>
                    </div>
                    <div class="faq-item">
                        <h4>Por qué hay descuento en BETA?</h4>
                        <p>Cuando tengamos 50 artículos o 100 videos, la subscripción costará el doble.<br><br><i>(Tienes descuento aparte si te subscribes un año)</i></p>
                    </div>
                    <div class="faq-item">
                        <h4>Aprenderé trading?</h4>
                        <p>La membresía te acercará más info, dependerá de ti ponerla en práctica.</p>
                    </div>
                    <div class="faq-item">
                        <h4>Tengo otra pregunta</h4>
                        <p>Sigue la burbuja de chat debajo a la derecha o <a href="mailto:somos@criptonautas.co">envianos un e-mail</a> 👊</p>
                    </div>
		</div>
	</div>
</div>
{{#get "posts" limit="6" filter="visibility:[members,paid,tiers]+feature_image:-null" include="authors" as |special_posts|}}
	{{#if special_posts}}
		{{>related label=(t "Last insights for Randoms, Padawans & Criptonautas 🔥")}}
	{{/if}}
{{/get}}
    </div>
    </div>
	</div>
</div>
{{/page}}