{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
		<div class="404-center">
<h1>{{ t "Somebody turned off" }}</h1>
<p>{{ t "Please check our last articles" }}
		</p></div>
        <section class="gh-topic gh-topic-grid">
            <div class="gh-topic-content">
                {{#get "posts" include="authors" limit="7"}}
                    {{#foreach posts}}
                        {{> "loop-grid"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
    </div>
</main>

<script>plausible("404",{ props: { path: document.location.pathname } });</script>
<style>.gh-card.post.large{display:none}</style> 