/* Global Footer
/* ---------------------------------------------------------- */

.it-foot-social {
padding-top: 5rem;
text-align: center;
}

.it-foot-social a, {
    margin-left: .8rem;
    display: inline-block;
    padding: .5rem;
}
.it-foot-social a svg {
    height: 2.77rem;
    height: 2.77rem;
}
    .it-foot-social a {
    color: var(--color-base);
}
.it-foot-social a svg:hover,
.it-foot-social a svg:active,
.it-foot-social a:hover,
.it-foot-social a:active {
fill: var(--color-base);
}
.it-foot-social a.rss svg {
width: 3.47rem;
height: 3.47rem;
}
.it-foot-social a.github svg {
width: 2.77rem;
height: 2.77rem;
}
@media (max-width: 767px) {
    .it-foot-menu {width: 2.3rem;
display: inline-flex;
        text-align: center;
    }
}
