#ghost-portal-root {
    display:none!important
}


.mb-40 {
    margin-bottom: 4rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.custom-feature-sign {
    width: 50%;
    height: 100vh;
}
.custom-feature-sign img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 50%;
}
.cus-sign-box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 1rem;
}
.cus-sign-box h1 {
padding-bottom: 5rem;
font-size: 7rem;

}
.cus-sign-box h2 {
padding-bottom: 5rem;
}
.cus-sign-box .mainhead {
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.form-inner-content {
    width: 100%;
}
.custom-no-feature-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.custom-no-feature-sign p {
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--color-base);
    padding-top: 15px;
    text-align: center;
}

.subscribe-section img {
width: 100%;
}

.subscribe-section a img {
padding-bottom: 3rem;
margin: auto;
}
.subscribe-section {
display: flex;
align-content: center;
align-items: center;
height: 100vh;
}
.subscribe-section svg {
width: 0.66rem;
}
.signup-form {
    position: relative;
}

/* .single-input {
    position: relative;
}

.single-input .icon_mail {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    background-color: var(--color-bg);
}
.single-input .icon_mail svg {
    width: 20px;
    height: 20px;
    color: var(--color-base);
    stroke-width: 2;
} */



::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--color-secondary-text);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--color-secondary-text);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--color-secondary-text);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--color-secondary-text);
}


.single-input .form-control {
    font-size: 2rem;
    color: var(--color-base);
    font-family: var(--font-body);
    font-weight: normal;
    height: 6rem;
    width: 100%;
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    --form-control-bg: var(--color-white);
    border: 1px solid #dbe3e7;
}

.single-input .form-control:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 3px rgba(81,7,237,.15);
    outline: 0;
}
html[data-theme=dark].single-input .form-control:focus {
    border-color: var(--color-primary);
}

.single-input .form-control::placeholder,
.single-input .form-control::-webkit-input-placeholder, 
.single-input .form-control::-moz-placeholder,
.single-input .form-control:-moz-placeholder,
.single-input .form-control:-ms-input-placeholder { 
    color: var(--color-base);
}
@media screen and (max-width: 991px) {
    .subscribe-form {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .subscribe-form input {
    margin-bottom: 2rem;
    }
}
.subscribe-form {
display: flex;
flex-wrap: nowrap;
margin-top: 2rem;
}
.subscribe-form p {
    font-size: 1.77rem;
    margin-bottom: 0;
    color: var(--color-base);
    padding-top: 15px;
}
.subscribe-form p a {
    color: var(--color-primary);
}
.signup-form p {
    font-size: 1.77rem;
    color: var(--color-base);
    margin-bottom: 0;
    padding-top: 15px;
}
.signup-form p a {
    color: var(--color-primary);
}
.message-success,
.message-error {
color: var(--color-secondary);
background: none;
}
form[data-members-form].success .text-message .message-success {
display: inherit;
}
form[data-members-form].error .text-message .message-error {
display: inherit;
}
form[data-members-form].error .single-input,
form[data-members-form].success .single-input {
pointer-events:none;
}
form[data-members-form].error input[type="email"],
form[data-members-form].success input[type="email"] {
background-color: var(--color-bg-alt);
color: var(--border-form-control);
}
form[data-members-form].error .subscribe-title,
form[data-members-form].success .subscribe-title,
form[data-members-form].success .btn,
form[data-members-form].error .btn {
display: none !important;
}
html[data-theme=dark] .message-success,
html[data-theme=dark] .message-error,
html[data-darkreader-scheme=dark] .message-success,
html[data-darkreader-scheme=dark] .message-error {
color: var(--color-white);
}
.subscribe-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1.77rem;
}
.subscribe-btn .btn {
    position: relative;
}
.subscribe-btn .button-loader svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-sign {
    -webkit-font-smoothing: subpixel-antialiased;
    background: var(--color-secondary);
    border-radius: var(--radius);
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    line-height: 1em;
    min-height: 44px;
    height: 5.33rem;
    outline: none;
    padding: 2rem 2.5rem;
    text-decoration: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
align-items: center;
justify-content: center;
width: 100%;
opacity: 0.93;
}
.btn-sign:hover { 
opacity: 1;
}
.loading .button-text {
    display: none;
}
.loading .button-loader {
    display: block;
}
.button-loader {
    display: none;
}
.button-loader svg {
    height: 25px;
    width: 25px;
}
.button-loader svg path {
    fill: var(--color-white);
    opacity: 0.7;
}
.account-informations h2 {
    color: var(--color-base);
    text-align: center;
}
.member-name {
    text-transform: capitalize;
}
.subscribe-cover {
    margin: 0 auto;
    max-width: 500px;
}
.subscribe-cover p {
    color: var(--color-base);
}
.plan-item {
    font-size: 3.5rem;
    line-height: 1.4;
    color: var(--color-base);
    margin-bottom: 0;
}
/* media for 991px*/
@media screen and (max-width: 991px) {
    .signup-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
   }
    .custom-feature-sign {
        display: none;
   }

}

.back-to-home {
    font-size: 0.77rem;
    font-size: 1.66rem;
    opacity: 0.33;
    padding-left: 1rem;
   }

   .back-to-home:hover {
    opacity: 1;
   }
@media screen and (max-width:991px) {
   cus-sign-box h2 {
padding: 25rem 0 5rem !important;
   }
}
.subscribe-title::not(.signup-form) h1 {
padding-bottom: 5rem;
}
.subscribe-title p {
margin: 0 0 3.33rem;
text-align: center;
}